@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

/* colors from https://tailwindcss.com/docs/customizing-colors */
:root {
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-500: #737373;
  --neutral-800: #262626;
  --indigo-200: #c7d2fe;
  --indigo-600: #4f46e5;
  --slate-900: #0a0f1a; /* custom */
  --yellow-200: #fef08a;
  --yellow-600: #ca8a04;
  --red-600: #dc2626;
  --green-600: #16a34a;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate-900);
  color: var(--neutral-100);
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  letter-spacing: .1rem;
  display: grid;
  place-items: center;
  height: 100%;
}

h1 {
  border-bottom: solid 1px var(--neutral-100);
  padding: 12px;
}

.form_container {
  height: 100%;
  border-left: solid var(--indigo-200) 1.4px;
  border-right: solid var(--indigo-200) 1.4px;
  border-bottom: solid var(--indigo-200) 1.4px;
  border-radius: 24px;
  padding: 12px;
}

.scores {
  display: flex;
  flex-direction: column;
}

.score_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.score {
  margin: 0;
  padding: 6px;
  color: var(--neutral-800);
  border-radius: 4px;
}

.game_container, .results_container {
  display: flex;
  flex-direction: column;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--neutral-200);
}

.gameboard_border {
  border: solid 6px var(--neutral-500);
}

.marker_container {
  height: 100px;
  width: 100px;
  border: solid 1px var(--neutral-800);
  font-weight: 700;
  font-size: 4.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.yellow {
  color: var(--yellow-600);
}

.indigo {
  color: var(--indigo-600);
}

.highlighted {
  background: linear-gradient(to right, var(--indigo-200), var(--yellow-200));
}

.results_container {
   width: 100%;
}
.result {
  font-size: 1.2rem;
  padding: 1px;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: bold;
  margin-top: 4px;
  text-transform: capitalize;
  color: var(--neutral-800);
}

fieldset {
  padding: 32px;
  font-size: 1.2rem;
  border: none;
}

.computer_player_options {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.easy {
  color: var(--green-600);
}

.hard {
  color: var(--red-600);
}

input[type="text"] {
  height: 24px;
  font-weight: 700;
  padding-left: 8px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type='radio'] { 
  transform: scale(1.4);
  margin-right: 6px;
}


.button {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: .3rem;
  cursor: pointer;
  background: linear-gradient(to right, var(--indigo-600), var(--yellow-600));
  color: var(--neutral-100);
  padding: 12px 24px;
}

.button_reset_game {
  padding: 1px;
  font-size: 1rem;
  font-weight: 400;
}

.button:hover {
  background: linear-gradient(to right, var(--yellow-600), var(--indigo-600) );
}

.results {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
