@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

/* colors from https://tailwindcss.com/docs/customizing-colors */
:root {
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-500: #737373;
  --neutral-800: #262626;
  --indigo-600: #4f46e5;
  --yellow-600: #ca8a04;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  letter-spacing: .1rem;
  display: grid;
  place-items: center;
}

h1 {
  border-bottom: solid 1px var(--neutral-100);
  padding: 12px;
}

.scores {
  display: flex;
  flex-direction: column;
}

.score_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.score {
  margin: 0;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--neutral-200);
}

.marker_container {
  height: 100px;
  width: 100px;
  border: solid 1px var(--neutral-800);
  font-weight: 700;
  font-size: 4.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.yellow {
  color: var(--yellow-600);
}

.indigo {
  color: var(--indigo-600);
}

.result {
  font-size: 1.5rem;
  text-transform: uppercase;
}

fieldset {
  padding: 32px;
  font-size: 1.2rem;
}

.field {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.play_computer {
  flex-direction: row;
}

input[type="text"] {
  height: 24px;
  font-weight: 700;
  padding-left: 8px;
}


.button {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .3rem;
  cursor: pointer;
  background: linear-gradient(to right, var(--indigo-600), var(--yellow-600));
  color: var(--neutral-100);
  padding: 12px 24px;
}

.button:hover {
  transform: scale(1.1);
  transition: .1s;
}

.results {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}